html, body {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  background: #171717 url(dark_background.png) repeat;
  background-size: 10px auto;
  height: 100%;
}

#quiz-part {
  header.g {
    // background: #090909;
    height: 250px;
    color: #fff;
    p {
      margin: 0;
      height: 60px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .container {
    position: relative;
    z-index: 10;
    #progress {
      height: 6px;
      width: 100%;
      margin: 0 auto;
      background: rgba(255, 255, 255, .2);
      margin-top: -190px;
      margin-bottom: 10px;
      overflow: hidden;
      #progress-inner {
        height: 100%;
        background: #fff;
      }
    }
    .question {
      width: 100%;
      // border-radius: 8px;
      background: #212121;
      color: #d2d2d2;
      padding: 1.5em 15px;
      line-height: 2;
      .q-title {
        font-size: 150%;
        font-weight: bold;
        color: #fff;
        margin-bottom: .4em;
      }
      .q-description {
        opacity: .8;
        line-height: 1.8;
        margin-bottom: 20px;
      }
      .q-answer {
        width: 100%;
        padding: .5em 1em;
        font-weight: bold;
        text-align: center;
        background: rgba(#ffffff, 0.1);
        border-bottom: 2px solid rgba(#fff, 0.12);
        color: rgba(#ffffff, 0.56);
        margin-bottom: 7px;
        transition: background .3s, color .3s;
        &.active {
          background: #4494f9;
          color: #fff;
        }
      }
    }
    .introduction {
      width: 100%;
      // border-radius: 8px;
      background: #212121;
      color: #d2d2d2;
      padding: 1.5em 15px;
      line-height: 1.8;
      h1 {
        margin-bottom: 1em;
      }
      img {
        margin-bottom: 1em;
      }
      #enter-quiz {
        width: 70%;
        position: fixed;
        bottom: 0;
        left: 15%;
        padding: .5em 1em;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        background: #fff;
        border: none;
        outline: none;
        margin-top: 1em;
        box-shadow: 0 7px 16px rgba(37, 37, 37, 0.2);
      }
    }
    .hierophant {
      width: 100%;
      // border-radius: 8px;
      background: #212121;
      color: #d2d2d2;
      padding: 1.5em 15px;
      line-height: 1.8;
      font-size: 90%;
      img {
        border-radius: 10px;
        width: 64px;
      }
      .searchDir {
        word-break: break-all;
      }
      .btn-group {
      }
      .d-title {
        margin-bottom: .2em;
        margin-top: 1em;
      }
      .btn-group {
        .btn {
          outline: none;
          transition: background .3s, color .3s;
          border: none;
          &.active {
            background: #4494f9;
            color: #fff;
          }
          &:focus {
            outline: none;
          }
        }
      }
      #d-single {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 100%;
        z-index: 1000;
        transition: top .5s ease;
        &.active {
          top: 0;
        }
        #d-single-close {
          width: 40px;
          height: 40px;
          background: #b92222;
          color: #fff;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 40px;
          border-radius: 20px;
          font-size: 25px;
          position: absolute;
          right: 15px;
          top: 55px;
        }
        .d-single-before {
          height: 75px;
          background: transparent;
        }
        .d-single-fix {
          background: #2a2a2a;
          height: 115px;
        }
        .container {
          background: #2a2a2a;
          height: 100%;
          overflow: auto;
          padding-bottom: 215px;
          .d-single-name {
            text-align: center;
            font-size: 150%;
            font-weight: bold;
            color: #fff;
          }
          .d-single-position {
            text-align: center;
          }
          .d-single-email {
            text-align: center;
            margin: 1em 0;
          }
        }
        .d-avatar {
          width: 33.33333%;
          height: 150px;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 25px;
          left: 50%;
          margin-left: -16.65%;
          .d-avatar-name {
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            position: absolute;
            bottom: 0;
            background: rgba(#000000, 0.56);
          }
        }
      }
      .d-avatar-list {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-wrap: wrap;
        .d-avatar-wrap {
          width: 33.33%;
          padding: 5px;
          .d-avatar {
            width: 100%;
            height: 150px;
            background-size: cover;
            background-position: center;
            position: relative;
            &.active {
              box-shadow: inset 0 0 35px rgba(0,195,255,.5);
              .d-avatar-name {
                background: rgba(0,195,255,.9);
                color: #fff;
              }
            }
            .d-avatar-name {
              width: 100%;
              height: 40px;
              text-align: center;
              line-height: 40px;
              position: absolute;
              bottom: 0;
              background: rgba(#000000, 0.56);
            }
          }
        }
      }
      .h-btn {
        width: 100%;
        padding: .5em 0;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
        background: #f2f2f2;
        margin-bottom: 7px;
        &:active {
          background: #ededed;
        }
      }
    }
  }
  footer.g {
    font-size: 13px;
    color: #999;
    text-align: center;
    padding: 20px 0;
  }
}

.media-body {
    word-break: break-all;
}

a[title="站长统计"] {
  display: none;
  opacity: 0;
  visibility: hidden;
}
